.card {
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 25px;
    width: 200px;
  }

  .card-wrapper {
    position: relative;
    display: inline-block;
}
  
  .card img {
    margin-left: 20%;
    max-width: 60%;
    border-radius: 8px;
    
  }
  
  .card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333333;
  }
  
  .card p:first-child {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card p:nth-child(odd) {
    color: #666666;
  }
  
  .card p:last-child {
    font-style: italic;
  }

  .popup-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.card-wrapper:hover .popup-content {
    display: block;
}