#device {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#device h1{
    padding: 1rem;
}

.add-button {
    background-color: #008cff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover{
    background-color: #0047cc;
}
  
#cards {
    display: flex;
    flex-direction: column;
  }

  #cards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:baseline;
  }

  #preview-content {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}
