/* Style for the modal form */
.modal-form {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
}

h2{
    margin-left: 30%;
}
/* Style for form elements */
.modal-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

.modal-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the button */
.modal-form button {
    background-color: #008cff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40%;
}

/* Style for the button on hover */
.modal-form button:hover {
    background-color: #0047cc;
    
}
